## 数据框 data.frame

`matrix`与`df`之间的区别就是：

`matrix` 里面的数据是**同一种**类型：all the elements that you put in a matrix should be of the **same type**

`data.frame` 列是不同的变量（`性别`，`年龄`，`学历`），而每一行则是**不同个体**的观测值 :A data frame has the variables of a data set as columns and the observations as rows.

### 查看数据框的数据结构

In [1]:
# 以 mtcars 为测试数据
head(mtcars)
tail(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

               mpg  cyl disp  hp  drat wt    qsec vs am gear carb
Porsche 914-2  26.0 4   120.3  91 4.43 2.140 16.7 0  1  5    2
Lotus Europa   30.4 4    95.1 113 3.77 1.513 16.9 1  1  5    2
Ford Pantera L 15.8 8   351.0 264 4.22 3.170 14.5 0  1  5    4
Ferrari Dino   19.7 6   145.0 175 3.62 2.770 15.5 0  1  5    6
Maserati Bora  15.0 8   301.0 335 3.54 3.570 14.6 0  1  5    8
Volvo 142E     21.4 4   121.0 109 4.11 2.780 18.6 1  1  4    2

In [2]:
# 进一步查看 mtcars 的数据结构类型

str(mtcars)

'data.frame':	32 obs. of  11 variables:
 $ mpg : num  21 21 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 ...
 $ cyl : num  6 6 4 6 8 6 8 4 4 6 ...
 $ disp: num  160 160 108 258 360 ...
 $ hp  : num  110 110 93 110 175 105 245 62 95 123 ...
 $ drat: num  3.9 3.9 3.85 3.08 3.15 2.76 3.21 3.69 3.92 3.92 ...
 $ wt  : num  2.62 2.88 2.32 3.21 3.44 ...
 $ qsec: num  16.5 17 18.6 19.4 17 ...
 $ vs  : num  0 0 1 1 0 1 0 1 1 1 ...
 $ am  : num  1 1 1 0 0 0 0 0 0 0 ...
 $ gear: num  4 4 4 3 3 3 3 4 4 4 ...
 $ carb: num  4 4 1 1 2 1 4 2 2 4 ...

Applying the `str()` function will often be the first thing that you do when receiving a new data set or data frame. 


  ·The total number of observations (e.g. 32 car types)
  
  ·The total number of variables (e.g. 11 car features)
  
  ·A full list of the variables names (e.g. mpg, cyl ... )
  
  ·The data type of each variable (e.g. num)
  
  ·The first observations

### 创建数据框 df

你要创建太阳系八大行星的一个`df`,除了星体的名字还要包括：

 - The type of planet (Terrestrial or Gas Giant).
 - The planet's diameter relative to the diameter of the Earth.
 - The planet's rotation across the sun relative to that of the Earth.
 - If the planet has rings or not (TRUE or FALSE).

In [7]:
# Because every column has the same length, the vectors you pass should also have the same length.
# 组成 df 的每一组向量（即每一列）的长度都要一样；
# Definition of vectors
name <- c("Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune")
type <- c("Terrestrial planet", "Terrestrial planet", "Terrestrial planet", 
          "Terrestrial planet", "Gas giant", "Gas giant", "Gas giant", "Gas giant")
diameter <- c(0.382, 0.949, 1, 0.532, 11.209, 9.449, 4.007, 3.883)
rotation <- c(58.64, -243.02, 1, 1.03, 0.41, 0.43, -0.72, 0.67)
rings <- c(FALSE, FALSE, FALSE, FALSE, TRUE, TRUE, TRUE, TRUE)

# Create a data frame from the vectors
planets_df <-data.frame(name,type,diameter,rotation,rings)
planets_df
str(planets_df)

  name    type               diameter rotation rings
1 Mercury Terrestrial planet  0.382     58.64  FALSE
2 Venus   Terrestrial planet  0.949   -243.02  FALSE
3 Earth   Terrestrial planet  1.000      1.00  FALSE
4 Mars    Terrestrial planet  0.532      1.03  FALSE
5 Jupiter Gas giant          11.209      0.41   TRUE
6 Saturn  Gas giant           9.449      0.43   TRUE
7 Uranus  Gas giant           4.007     -0.72   TRUE
8 Neptune Gas giant           3.883      0.67   TRUE

'data.frame':	8 obs. of  5 variables:
 $ name    : Factor w/ 8 levels "Earth","Jupiter",..: 4 8 1 3 2 6 7 5
 $ type    : Factor w/ 2 levels "Gas giant","Terrestrial planet": 2 2 2 2 1 1 1 1
 $ diameter: num  0.382 0.949 1 0.532 11.209 ...
 $ rotation: num  58.64 -243.02 1 1.03 0.41 ...
 $ rings   : logi  FALSE FALSE FALSE FALSE TRUE TRUE ...

### 子集的提取

In [4]:
# The planets_df data frame from the previous exercise is pre-loaded

# Print out diameter of Mercury (row 1, column 3)
planets_df[1,3]

# Print out data for Mars (entire fourth row)
planets_df[4,]

# Select first 5 values of diameter column
planets_df$diameter[1:5]

# Select the rings variable from planets_df
rings_vector <- planets_df$rings
  
# Print out rings_vector
rings_vector

[1] 0.382

  name type               diameter rotation rings
4 Mars Terrestrial planet 0.532    1.03     FALSE

[1]  0.382  0.949  1.000  0.532 11.209

[1] FALSE FALSE FALSE FALSE  TRUE  TRUE  TRUE  TRUE

由于 `rings_vector`是逻辑向量，因此可以用它来筛选出逻辑值为 TRUE 的星体，并且通过限制 **列名**来提取该星体相关的资料

In [5]:
# Adapt the code to select all columns for planets with rings
planets_df[rings_vector,]
planets_df[rings_vector, "name"]
planets_df[rings_vector,1:3]

  name    type      diameter rotation rings
5 Jupiter Gas giant 11.209    0.41    TRUE
6 Saturn  Gas giant  9.449    0.43    TRUE
7 Uranus  Gas giant  4.007   -0.72    TRUE
8 Neptune Gas giant  3.883    0.67    TRUE

[1] Jupiter Saturn  Uranus  Neptune
Levels: Earth Jupiter Mars Mercury Neptune Saturn Uranus Venus

  name    type      diameter
5 Jupiter Gas giant 11.209
6 Saturn  Gas giant  9.449
7 Uranus  Gas giant  4.007
8 Neptune Gas giant  3.883

### subset()函数提取df子集

Method for `data.frame` :

subset(x, subset, select, drop = FALSE, …)

subset()函数是用来提取**符合特定条件**（参数：subset）的子集；

 - x：目标 object to be subsetted.
 - subset ：逻辑运算条件 logical expression indicating elements or rows to keep: missing values are taken as false.
 - select：对于符合条件的子集还可以进行进一步选择显示那些列  expression, indicating columns to select from a data frame.

In [12]:
# 选择直径小于1的子集（显示全部列）
# Select planets with diameter < 1
subset(planets_df,diameter< 1)

subset(planets_df,diameter< 1,select = c("name","type")) #选择性显示第1,2列

  name    type               diameter rotation rings
1 Mercury Terrestrial planet 0.382      58.64  FALSE
2 Venus   Terrestrial planet 0.949    -243.02  FALSE
4 Mars    Terrestrial planet 0.532       1.03  FALSE

  name    type
1 Mercury Terrestrial planet
2 Venus   Terrestrial planet
4 Mars    Terrestrial planet

### 排序 sorting

In data analysis you can sort your data according to a **certain variable** in the data set.

In R, this is done with the help of the function `order()`

```
order(…, na.last = TRUE, decreasing = FALSE,
      method = c("auto", "shell", "radix"))
```
`order()`返回的结果是对应每个元素的**排位结果**，而不是直接返回排列后的元素向量；

In [15]:
# e.g.1
a <- c(100, 10, 1000)
order(a)

# 得到排位结果后，可以对原序列进行 改组（reshuffle）：
a<- a[order(a)]
a

[1] 2 1 3

[1]   10  100 1000

目的：You would like to rearrange your data frame such that it starts with the **smallest** planet and ends with the **largest** one.（升序） 

对象：A sort on the `diameter` column.

In [20]:
# Use order() to create positions 得到排位向量
positions <-  order(planets_df$diameter)

# Use positions to sort planets_df 提取向量行和所有的列
planets_df[positions,]

# 降序排列
positionsRev <-  order(planets_df$diameter, decreasing = TRUE)
planets_df[positionsRev,]

  name    type               diameter rotation rings
1 Mercury Terrestrial planet  0.382     58.64  FALSE
4 Mars    Terrestrial planet  0.532      1.03  FALSE
2 Venus   Terrestrial planet  0.949   -243.02  FALSE
3 Earth   Terrestrial planet  1.000      1.00  FALSE
8 Neptune Gas giant           3.883      0.67   TRUE
7 Uranus  Gas giant           4.007     -0.72   TRUE
6 Saturn  Gas giant           9.449      0.43   TRUE
5 Jupiter Gas giant          11.209      0.41   TRUE

  name    type               diameter rotation rings
5 Jupiter Gas giant          11.209      0.41   TRUE
6 Saturn  Gas giant           9.449      0.43   TRUE
7 Uranus  Gas giant           4.007     -0.72   TRUE
8 Neptune Gas giant           3.883      0.67   TRUE
3 Earth   Terrestrial planet  1.000      1.00  FALSE
2 Venus   Terrestrial planet  0.949   -243.02  FALSE
4 Mars    Terrestrial planet  0.532      1.03  FALSE
1 Mercury Terrestrial planet  0.382     58.64  FALSE